body {
	text-align: center;
	margin: 50px;
}

div{
	margin: 25px 25px;
}


/*Navbar*/
.logo {
	width: 200px;
	height: 200px;
	padding-left: 50px;
}

.navbar-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #343432;
}

.navbar-link-flex {
	display: flex;
	justify-content: space-between;
	margin-right: 200px;
	width: 55%;
}

header a {
	color: #80ffdb;
	text-decoration: none;
	padding: 0px;
	font-size: 20px;
}

header a:hover {
	color: pink;
}

.box {
	background-color: pink;
	padding: 50px 100px;
	font-size: 17px;
}

.photo-destination {
	background-color: #13d5d1;
}

.poisson-jaune {
	width: 400px;
	height: 400px;
	background-color: #13d5d1;
	border-radius: 50%;
	margin-right: 85px;
	margin-left: 85px;
}

.photo-destination {
	display: flex;
	justify-content: space-between;
	background-color: #80ffdb;
	padding-top: 65px;
	padding-bottom: 65px;
}

.margin {
	margin-left: 125px;
}

.footer {
	background-color: #343432;
	color: whitesmoke;
	padding: 25px 25px;
}






