body {
	text-align: center;
}

/*Banner*/
.banner {
	background-image: url("images/accueil/photo-banner3.jpg");
	background size: cover;
	height: 500px;
	padding-top: 10px;
	padding-left: 20px;
	color: whitesmoke;
	text-align: center;
	font-size: 20px;
	}

.citation_margin {
	margin-bottom: 300px;
}

.banner a {
	color: whitesmoke;
	text-decoration: none;
	font-size: 30px;
}

.banner a:hover {
	color: whitesmoke;
	font-size: 40px;
}


/*Navbar*/
.logo {
	width: 200px;
	height: 200px;
	padding-left: 50px;
}

.navbar-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #343432;
}

.navbar-link-flex {
	display: flex;
	justify-content: space-between;
	margin-right: 200px;
	width: 55%;
}

header a {
	color: #80ffdb;
	text-decoration: none;
	padding: 0px;
	font-size: 20px;
}

header a:hover {
	color: pink;
}

.large_spacing {
	padding: 20px 20px;
	background-color: #FFC0CB;
	text-align: center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}



.aligned-img {
	display:  flex;
	justify-content: space-between;
	margin: 200px;
}

.picto {
	width: 200px;
	height: 200px;
	border-radius: 60%;
	text-align: center;
}

.text-center {
	text-align: center;
	padding: 50px 50px;
}

.footer {
	background-color: #343432;
	color: whitesmoke;
	margin: 40px;
	padding: 25px 25px;
}















