* {
  margin: 0;
}



.logo {
  width: 200px;
  height: 150px;
  padding-left: 50px;
  margin-top: -3px;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343432;
}

.navbar-link-flex {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  width: 55%;
}

header a {
  color: #80ffdb;
  text-decoration: none;
  padding: 0px;
  font-size: 20px;
}

header a:hover {
  color: pink;
}


.footer {
  background-color: #343432;
  color: whitesmoke;
}

.container{
  background-color: #13d5d1;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: -50px;
}

h1{

  text-align: center;
  padding-top: 200px;

}

p{

  text-align:center;
  font-size: 20px;
  padding-bottom: 200px;
}


.video{
  background-image: url("https://thumbs.dreamstime.com/b/vaste-et-bleu-oc%C3%A9an-belle-surface-de-l-eau-bleue-%C3%A0-la-mer-ouverte-82560659.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}

 .circle-image div {
  
  overflow: hidden;
  margin-top: -250px;
  border-radius: 50%;
  
}

.circle-image{
  height: 150px;
  width: 150px;
  border-radius: 50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #13d5d1;
-webkit-box-shadow: 0px 0px 15px 15px #13d5d1;
margin-right: 50px;
margin-left: 100px;
}

img{
  
  margin-top:-100px;
}

.nom-equipe {
padding-left: 5px;
padding-right: 5px;
}
.team-flex{
  display: flex;
  justify-content: space-around;
  padding: 10px 200px;
}

 .image-millieu{
  background-image: url("Image/nature.jpg");
  padding-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.mon-equipe:hover{
border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}


.fa {
  padding: 15px;
  font-size: 10px;
  width: 20px;
  height: 5px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
   border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
  border-radius: 50%;
}

.footer{
    background-color: #343432;
    color: whitesmoke;
    height: 100px;
    width: 1528px;
    padding-top: 60px;
    margin: -4px;
    padding-bottom: 50px;
}

.footer p{
  padding-bottom: 10px;
}
